
 body{background: #fff;color: #000;}

/* ======== Header ========*/
/* global css */
.pt-0{padding-top: 0 !important;}
.plr-30{padding-left: 30px;padding-right: 30px;}
.ptb-15{padding-top: 15px;padding-bottom: 15px;}
.fa-user-plus{margin-right: 5px;}
.w-100{width: 100%;}

.ml-386{margin-left: 386px;transition: 0.5s;}
.add-vid-btn{
    background: transparent;
    border: none;
    font-size: 22px;
    color: #f55862;
}

.Bodypart-wrapper{/*margin-top: 6rem;*/padding-top: 30px;transition: 0.5s;}

.menu-map{
    color: #ccc;
    margin-right: 60px;
}

.add-item.link-btn{
    color: #777;
}
.editor{/*margin-top: 5rem;*/padding: 15px;}
.editor p{line-height: 1.8;width: 100%;text-align: justify;}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-active{color: #f55862;}


.navbar-default{background-color: #fff;border-color: #fff; padding-top: 10px;}
.search-wrapper{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-wrapper i{
    position: absolute;
    left: 30px;
    top: 25px;
}
.search-box{
    border: none;
    background: #F2F2F2;
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
}
.search-box:focus{outline: none;}
.profile-image{
    background: #F2F2F2;
    border-radius: 50%;
    height: 54px;
    width: 54px;
}
.profile-image-wrapper a{padding: 0 15px !important;}


@media (max-width:767px){
    .left-nav{
        /* width: 385px; */
        position: absolute;
        width: 385px;
        transition: .5s;
        margin-left: -386px;
    }
    .hideShow-nav-small{margin-left: 0 !important;transition: .5s;}
    .navbar-nav.pull-right{
        display: inline-flex;
        float:left !important;
        position: absolute;
        top: 6px;
        left: 60px;
    }
    .navbar-nav.pull-left{float: none !important;}
    .search-wrapper i{top: 20px;}
}

/* ========LrnrAll ========*/

/* side nav */
.left-nav{
    /* width: 385px; */
    position: absolute;
    width: 385px;
    transition: .5s;
}
.hideShow-nav{margin-left: -386px;transition: .5s;}
.side-nav-tabs.nav-tabs{border-bottom: none !important;}
.side-nav-tabs.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #f55862 !important;
    border: none;
}
.side-nav-tabs.nav-tabs>li>a:hover{border-color: transparent;}
.nav>li>a:hover{background-color: transparent;}
.side-nav-tabs.nav-tabs a{color: #777;}
.side-nav-tabs.nav-tabs a:hover{color: #000;}
.acordion-icon-btn-wrapper button{background-color: transparent;border: none;width: fit-content;}
.acordion-icon-btn-wrapper button:focus{outline: none;}
.acordion-icon-btn-wrapper button:hover{color:#f55862;}
.acordion-icon-btn-wrapper button{color:#777;}
button i.far.fa-clone{color: #ccc;}

.tab-content{background-color:#f7f7f7;height: -webkit-fill-available}
.top-toolbar{margin-left: 0;margin-right: 0;background-color: #f2f2f2;}

.title-action-icons{
    list-style: none;
    display: -webkit-inline-box;
    margin-bottom: 0;
}
.title-action-icons li{padding: 15px;}
.title-action-icons li a{color: #777;}
.title-action-icons li a .fa-plus{color: #f55862;}
.title-action-icons li a:hover{color: #000;}

.sideNav-menu-items-list-wrapper{list-style: none;padding-left: 0;}
.sideNav-menu-items-list-wrapper li{padding: 15px 5px;}
.sideNav-menu-items-list-wrapper li i{margin-right: 10px;}
.sideNav-menu-items-list-wrapper li a{color: #3D3D3D;text-decoration: none;}
.sideNav-menu-items-list-wrapper li ul{list-style: none;padding-left: 20px;}
.sideNav-menu-items-list-wrapper li ul li ul{list-style: none;padding-left: 20px;}
.box-shadow{
    width: 100%;
    height: 15.8px;
    background: transparent;
    position: absolute;
    top: 12rem;
    box-shadow: 0 2px 2px 0 rgba(32,33,36,0.08);
}
.dropdown-menu{
        right: 0 !important;
        left: inherit;
        min-width: 230px !important;
        border: none;
        box-shadow: 0 0px 4px 3px rgba(32,33,36,0.08);
        z-index: 9991;
    }
.dropdown-menu>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #777;
}

/* toggle button */
.switch-btn{padding: 10px 15px;}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #afb4b8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* toggle button */


/* accordion menu*/
#accordian ul ul {
    display: none;
}
/* accordion menu */



/* ======== LrnrBoard ========*/

/* side nav */
.left-nav{
    /* width: 385px; */
    position: absolute;
    width: 385px;
    transition: .5s;
}
.hideShow-nav{margin-left: -386px;transition: .5s;}
.side-nav-tabs.nav-tabs{border-bottom: none !important;}
.side-nav-tabs.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #f55862 !important;
    border: none;
}
.side-nav-tabs.nav-tabs>li>a:hover{border-color: transparent;}
.nav>li>a:hover{background-color: transparent;}
.side-nav-tabs.nav-tabs a{color: #777;}
.side-nav-tabs.nav-tabs a:hover{color: #000;}
.acordion-icon-btn-wrapper button{background-color: transparent;border: none;width: fit-content;}
.acordion-icon-btn-wrapper button:focus{outline: none;}
.acordion-icon-btn-wrapper button:hover{color:#f55862;}
.acordion-icon-btn-wrapper button{color:#777;}
button i.far.fa-clone{color: #ccc;}

.tab-content{background-color:#f7f7f7;height: -webkit-fill-available}
.top-toolbar{margin-left: 0;margin-right: 0;background-color: #f2f2f2;}

.title-action-icons{
    list-style: none;
    display: -webkit-inline-box;
    margin-bottom: 0;
}
.title-action-icons li{padding: 15px;}
.title-action-icons li a{color: #777;}
.title-action-icons li a .fa-plus{color: #f55862;}
.title-action-icons li a:hover{color: #000;}

.sideNav-menu-items-list-wrapper{list-style: none;padding-left: 0;}
.sideNav-menu-items-list-wrapper li{padding: 15px 5px;}
.sideNav-menu-items-list-wrapper li i{margin-right: 10px;}
.sideNav-menu-items-list-wrapper li a{color: #3D3D3D;text-decoration: none;}
.sideNav-menu-items-list-wrapper li ul{list-style: none;padding-left: 20px;}
.sideNav-menu-items-list-wrapper li ul li ul{list-style: none;padding-left: 20px;}
.box-shadow{
    width: 100%;
    height: 15.8px;
    background: transparent;
    position: absolute;
    top: 12rem;
    box-shadow: 0 2px 2px 0 rgba(32,33,36,0.08);
}
.dropdown-menu{
        right: 0 !important;
        left: inherit;
        min-width: 230px !important;
        border: none;
        box-shadow: 0 0px 4px 3px rgba(32,33,36,0.08);
        z-index: 9991;
    }
.dropdown-menu>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #777;
}

/* toggle button */
.switch-btn{padding: 10px 15px;}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #afb4b8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* toggle button */


/* accordion menu*/
#accordian ul ul {
    display: none;
}
/* accordion menu */



/* ======== LrnrBoard ========*/
/* side nav */
.left-nav{
    /* width: 385px; */
    position: absolute;
    width: 385px;
    transition: .5s;
}
.hideShow-nav{margin-left: -386px;transition: .5s;}
.side-nav-tabs.nav-tabs{border-bottom: none !important;}
.side-nav-tabs.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #f55862 !important;
    border: none;
}
.side-nav-tabs.nav-tabs>li>a:hover{border-color: transparent;}
.nav>li>a:hover{background-color: transparent;}
.side-nav-tabs.nav-tabs a{color: #777;}
.side-nav-tabs.nav-tabs a:hover{color: #000;}
.acordion-icon-btn-wrapper button{background-color: transparent;border: none;width: fit-content;}
.acordion-icon-btn-wrapper button:focus{outline: none;}
.acordion-icon-btn-wrapper button:hover{color:#f55862;}
.acordion-icon-btn-wrapper button{color:#777;}
button i.far.fa-clone{color: #ccc;}

.tab-content{background-color:#f7f7f7;height: -webkit-fill-available}
.top-toolbar{margin-left: 0;margin-right: 0;background-color: #f2f2f2;}

.title-action-icons{
    list-style: none;
    display: -webkit-inline-box;
    margin-bottom: 0;
}
.title-action-icons li{padding: 15px;}
.title-action-icons li a{color: #777;}
.title-action-icons li a .fa-plus{color: #f55862;}
.title-action-icons li a:hover{color: #000;}

.sideNav-menu-items-list-wrapper{list-style: none;padding-left: 0;}
.sideNav-menu-items-list-wrapper li{padding: 15px 5px;}
.sideNav-menu-items-list-wrapper li i{margin-right: 10px;}
.sideNav-menu-items-list-wrapper li a{color: #3D3D3D;text-decoration: none;}
.sideNav-menu-items-list-wrapper li ul{list-style: none;padding-left: 20px;}
.sideNav-menu-items-list-wrapper li ul li ul{list-style: none;padding-left: 20px;}
.box-shadow{
    width: 100%;
    height: 15.8px;
    background: transparent;
    position: absolute;
    top: 12rem;
    box-shadow: 0 2px 2px 0 rgba(32,33,36,0.08);
}
.dropdown-menu{
        right: 0 !important;
        left: inherit;
        min-width: 230px !important;
        border: none;
        box-shadow: 0 0px 4px 3px rgba(32,33,36,0.08);
        z-index: 9991;
    }
.dropdown-menu>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #777;
}

/* toggle button */
.switch-btn{padding: 10px 15px;}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #afb4b8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* toggle button */


/* accordion menu*/
#accordian ul ul {
    display: none;
}
/* accordion menu */


/* ======== LrnrGrapn ========*/
/* side nav */
.left-nav{
    /* width: 385px; */
    position: absolute;
    width: 385px;
    transition: .5s;
}
.hideShow-nav{margin-left: -386px;transition: .5s;}
.side-nav-tabs.nav-tabs{border-bottom: none !important;}
.side-nav-tabs.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #f55862 !important;
    border: none;
}
.side-nav-tabs.nav-tabs>li>a:hover{border-color: transparent;}
.nav>li>a:hover{background-color: transparent;}
.side-nav-tabs.nav-tabs a{color: #777;}
.side-nav-tabs.nav-tabs a:hover{color: #000;}
.acordion-icon-btn-wrapper button{background-color: transparent;border: none;width: fit-content;}
.acordion-icon-btn-wrapper button:focus{outline: none;}
.acordion-icon-btn-wrapper button:hover{color:#f55862;}
.acordion-icon-btn-wrapper button{color:#777;}
button i.far.fa-clone{color: #ccc;}

.tab-content{background-color:#f7f7f7;height: -webkit-fill-available}
.top-toolbar{margin-left: 0;margin-right: 0;background-color: #f2f2f2;}

.title-action-icons{
    list-style: none;
    display: -webkit-inline-box;
    margin-bottom: 0;
}
.title-action-icons li{padding: 15px;}
.title-action-icons li a{color: #777;}
.title-action-icons li a .fa-plus{color: #f55862;}
.title-action-icons li a:hover{color: #000;}

.sideNav-menu-items-list-wrapper{list-style: none;padding-left: 0;}
.sideNav-menu-items-list-wrapper li{padding: 15px 5px;}
.sideNav-menu-items-list-wrapper li i{margin-right: 10px;}
.sideNav-menu-items-list-wrapper li a{color: #3D3D3D;text-decoration: none;}
.sideNav-menu-items-list-wrapper li ul{list-style: none;padding-left: 20px;}
.sideNav-menu-items-list-wrapper li ul li ul{list-style: none;padding-left: 20px;}
.box-shadow{
    width: 100%;
    height: 15.8px;
    background: transparent;
    position: absolute;
    top: 12rem;
    box-shadow: 0 2px 2px 0 rgba(32,33,36,0.08);
}
.dropdown-menu{
        right: 0 !important;
        left: inherit;
        min-width: 230px !important;
        border: none;
        box-shadow: 0 0px 4px 3px rgba(32,33,36,0.08);
        z-index: 9991;
    }
.dropdown-menu>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #777;
}

/* toggle button */
.switch-btn{padding: 10px 15px;}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #afb4b8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* toggle button */


/* accordion menu*/
#accordian ul ul {
    display: none;
}
/* accordion menu */


/* ======== LrnrRecent ========*/
/* side nav */
.left-nav{
    /* width: 385px; */
    position: absolute;
    width: 385px;
    transition: .5s;
}
.hideShow-nav{margin-left: -386px;transition: .5s;}
.side-nav-tabs.nav-tabs{border-bottom: none !important;}
.side-nav-tabs.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid #f55862 !important;
    border: none;
}
.side-nav-tabs.nav-tabs>li>a:hover{border-color: transparent;}
.nav>li>a:hover{background-color: transparent;}
.side-nav-tabs.nav-tabs a{color: #777;}
.side-nav-tabs.nav-tabs a:hover{color: #000;}
.acordion-icon-btn-wrapper button{background-color: transparent;border: none;width: fit-content;}
.acordion-icon-btn-wrapper button:focus{outline: none;}
.acordion-icon-btn-wrapper button:hover{color:#f55862;}
.acordion-icon-btn-wrapper button{color:#777;}
button i.far.fa-clone{color: #ccc;}

.tab-content{background-color:#f7f7f7;height: -webkit-fill-available}
.top-toolbar{margin-left: 0;margin-right: 0;background-color: #f2f2f2;}

.title-action-icons{
    list-style: none;
    display: -webkit-inline-box;
    margin-bottom: 0;
}
.title-action-icons li{padding: 15px;}
.title-action-icons li a{color: #777;}
.title-action-icons li a .fa-plus{color: #f55862;}
.title-action-icons li a:hover{color: #000;}

.sideNav-menu-items-list-wrapper{list-style: none;padding-left: 0;}
.sideNav-menu-items-list-wrapper li{padding: 15px 5px;}
.sideNav-menu-items-list-wrapper li i{margin-right: 10px;}
.sideNav-menu-items-list-wrapper li a{color: #3D3D3D;text-decoration: none;}
.sideNav-menu-items-list-wrapper li ul{list-style: none;padding-left: 20px;}
.sideNav-menu-items-list-wrapper li ul li ul{list-style: none;padding-left: 20px;}
.box-shadow{
    width: 100%;
    height: 15.8px;
    background: transparent;
    position: absolute;
    top: 12rem;
    box-shadow: 0 2px 2px 0 rgba(32,33,36,0.08);
}
.dropdown-menu{
        right: 0 !important;
        left: inherit;
        min-width: 230px !important;
        border: none;
        box-shadow: 0 0px 4px 3px rgba(32,33,36,0.08);
        z-index: 9991;
    }
.dropdown-menu>li>a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #777;
}

/* toggle button */
.switch-btn{padding: 10px 15px;}
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #afb4b8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* toggle button */


/* accordion menu*/
#accordian ul ul {
    display: none;
}
/* accordion menu */

/* ======== LrnrNavs ========*/
.left-nav2{transition: .5s;}
.b-shadow{box-shadow: 6px 9px 6px -8px #ddd;}



/* ======== responsive ====== */

@media (min-width:1600px){
    .ml-lg-386{margin-left: -386px;transition: 0.5s;}
    .ml-40r{margin-left: 38.5rem;}
}
@media (min-width : 768px) and (max-width : 1599px){
    .ml-40r{margin-left: 38.5rem;}
}

@media (min-width: 1200px) and (max-width : 1599px) {
    .custom-container.container {
    width: 744px;
    }
    }
    @media (min-width: 992px) and (max-width : 1199px) {
    .custom-container.container {
    width: 550px;
    }
    .ml-40r{margin-left: 34rem;}
    }
    @media (min-width: 768px) and (max-width : 991px) {
    .custom-container.container {
    width: 450px;
    }
    .ml-40r{margin-left: 32rem;}
    }
    @media (max-width: 768px){
    .custom-container.container {
    margin-right: 70px;
    }
}


.input-box input[type="text"]{
  width: 120px;
}
.inputBox{width: 120px; height: 20px;}
.inputBox2{display: none;}
.inputBox3{display: none;width: 78px;height: 20px;}
.inputBox4{display: none;width: 78px;height: 20px;}


.commonCLassUl .active{color: #f55862;}
.rotate{transform: rotate(90deg);transition: 0.3s;color: #f55862;}
.readOnly .ck-content{cursor: not-allowed; color: gray;}